//- serversearch structure
#serversearch
    #serversearch-inputs
        input#serversearch-vpn-input(type="text" placeholder="VPN")
        input#serversearch-firstname-input(type="text" placeholder="Vorname")
        input#serversearch-surename-input(type="text" placeholder="Name")
        input#serversearch-postcode-input(type="text" placeholder="PLZ")
        input#serversearch-location-input(type="text" placeholder="Ort")
        input#serversearch-expertise-input(type="number" placeholder="Expertise Id")
    //- #serversearch-exact
    //-     label#serversearch-exact-label Exakte Suche
    //-     input#serversearch-exact-input(type="checkbox")
    #serversearch-submit
        span#serversearch-error-feedback
        button#reset-button.click-button Reset
        button#serversearch-button.click-button Suchen
