// serversearch styles
#serversearch
    background-color rgba(0,0,0,0.2)
    padding 5px
    #serversearch-inputs
        margin-top: 5px
        display flex
        width 100%
        flex-wrap wrap
        margin-bottom 5px
    #serversearch-inputs > *
        flex-grow: 1
    input
        color cd-darkblue
        padding: 7px
        margin-right 3px
        margin-bottom 3px
        font-size: 12pt

    #serversearch-exact
        // display none
        display block
    #serversearch-submit
        text-align: right
        // padding-bottom 5px
    #serversearch-error-feedback
        color red
        padding-right 7px

    .click-button
    .click-button:hover
        background-color: cd-turquoise
        color white
        padding 10px
        text-transform: uppercase    
        margin-bottom 5px
    .click-button:disabled
        color: #888
        background-color: #eee
        opacity 0.5
        cursor auto
