doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        
        //- Title and Description
        title SusDoX Management List
        meta(name='description', content='Die SusDoX Management List erlaubt es eine Liste von verf체gbaren Studienf채lle einzusehen und ihre Details zu bearbeiten.')
        
        //- Open Graph meta Tags
        meta(property='og:image' content="https://")
        meta(property='og:title' content="SusDox Management List")
        meta(property='og:description' content='Die SusDoX Management List erlaubt es eine Liste von verf체gbaren Studienf채lle einzusehen und ihre Details zu bearbeiten.')
        meta(property='og:type' content="website")
        meta(property='og:url' content="https://")
        meta(property='og:locale' content="de_DE")

        //- Manifest
        link(rel='manifest' href='manifest.json')

        //- Favicon
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
        link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
        
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="theme-color", content="#ffffff")
        
        //- Screen
        meta(name='viewport', content='width=device-width, initial-scale=1.0')



        include styles-include.pug
    body
        include ../../source/index/indexbody.pug
        include scripts-include.pug
