main
    background-color cd-darkblue
    color white
    height 100%

#main
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    display: flex
    flex-direction: column
 
#main-block-top
    display: none
    padding: 10px
    box-sizing: border-box

#main-block-content
    padding: 0 5px 5px 5px
    box-sizing: border-box
    height 100%
